<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
    <logger name="com.newaim" level="DEBUG" />
    <logger name="org.springframework.web" level="INFO" />
    <appender name="systemAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./var/logs/system.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/logs/system-%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="cronJobAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./var/logs/cronJob.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/logs/cronJob-%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="com.newaim" level="debug" additivity="false">
        <appender-ref ref="systemAppender" />
    </logger>
    <logger name="org.springframework.web" level="INFO" additivity="false">
        <appender-ref ref="systemAppender" />
    </logger>
    <logger name="com.newaim.purchase.job" level="debug" additivity="false">
        <appender-ref ref="cronJobAppender" />
    </logger>
</configuration>